<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список продуктов для магазина</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .container {
            max-width: 960px;
        }

        .heading {
            margin: 2rem 0;
        }

        .table-container {
            margin: 2rem 0;
            border: 1px solid #dee2e6;
            border-radius: .25rem;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="container py-5">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="heading">Список продуктов для магазина</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Наименование продукта</th>
                    <th scope="col">Тип продукта</th>
                    <th scope="col">Статус продукта</th>
                    <th scope="col">Количество продукта</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="productAttributes, stat : ${storeProducts}">
                    <td th:text="${stat.count}"></td>
                    <td th:text="${productAttributes.productName}"></td>
                    <td th:text="${productAttributes.getProductType}"></td>
                    <td th:text="${productAttributes.getProductStatus}"></td>
                    <td th:text="${productAttributes.quantity}"></td>
                    <td th:text="${productAttributes.description}"></td>
                    <td>
                        <form method="post" th:action="@{/admin/stores/products/delete/__${productAttributes.productId}__}" th:object="${product}">
                            <button type="submit" class="btn btn-danger mb-1">Удалить</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <h2 class="heading">Добавить продукт</h2>
            <form method="post" th:action="@{/admin/stores/products/add/__${storeId}__}" th:object="${product}">
                <div class="form-group">
                    <label for="name">Название продукта</label>
                    <input type="text" th:field="*{productName}" class="form-control" id="name"
                           placeholder="Введите название продукта">
                </div>
                <div class="form-group">
                    <label for="type">Тип продукта</label>
                    <select th:field="*{productType}" class="form-control" id="type">
                        <option th:each="type : ${T(com.example.mainfile.model.ProductType).values()}"
                                th:value="${type}"
                                th:text="${type}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="status">Статус продукта</label>
                    <select th:field="*{productStatus}" class="form-control" id="status">
                        <option th:each="status : ${T(com.example.mainfile.model.ProductStatus).values()}"
                                th:value="${status}"
                                th:text="${status}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="price">Цена продукта</label>
                    <input type="number" th:field="*{productPrice}" class="form-control" id="price"
                           placeholder="Введите цену продукта">
                </div>
                <div class="form-group">
                    <label for="quantity">Количество</label>
                    <input type="number" th:field="*{quantity}" class="form-control" id="quantity"
                           placeholder="Введите количество">
                </div>
                <div class="form-group">
                    <label for="description">Описание</label>
                    <textarea th:field="*{description}" class="form-control" id="description"
                              placeholder="Введите описание"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Добавить</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
