<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Страница администратора</title>
  <!-- Подключение Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />.

</head>
<body>
<div class="container">
  <h1>Добавить отель</h1>
  <form th:action="@{/admin/addHotel}" th:object="${hotel}" method="post">
    <div class="form-group">
      <label for="name">Название</label>
      <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Введите название отеля">
    </div>
    <div class="form-group">
      <label for="address">Адрес</label>
      <input type="text" th:field="*{address}" class="form-control" id="address" placeholder="Введите адрес отеля">
    </div>
    <div class="form-group">
      <label for="rating">Рейтинг</label>
      <input type="number" th:field="*{rating}" class="form-control" id="rating" placeholder="Введите рейтинг отеля">
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
  </form>
  <h2>Список отелей</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название</th>
      <th scope="col">Адрес</th>
      <th scope="col">Рейтинг</th>
      <th scope="col">Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hotel : ${hotels}">
      <th scope="row" th:text="${hotel.hotelId}"></th>
      <td th:text="${hotel.name}"></td>
      <td th:text="${hotel.address}"></td>
      <td th:text="${hotel.rating}"></td>
      <td>
        <form th:action="@{/admin/delete/{id}(id=${hotel.hotelId})}" th:method="post">
          <input type="submit" value="Удалить" />
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
