<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Страница администратора</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/hotelsCSS.css">
    <style>
        .btn-outline-secondary {
            border-color: #720000;
            color: #720000;
        }
        .card {
            background-color: #FF88A2;
            border: 0 solid;
            display: block;
        }
        .container {
            max-width: 960px;
        }
        .heading {
            margin: 2rem 0;
        }
        .card-body {
            background-color: #FF88A2;
            border-radius: 15px;
            padding: 20px;
            margin-bottom: 20px;
        }
        .form-group label {
            color: #6c757d;
        }
        .btn-primary {
            background-color: #FFC0CB;
            color: #800000;
        }
    </style>
</head>
<body>
<div class="navbar">
    <a href="/admin" class="logo">
        <img src="/img/Sparkle_Sticker_02.png" alt="Админ"/>
    </a>
    <div class="text" style="text-align: center;">
        <h1 style="font-family: 'Brush Script MT', cursive;">Административная страница</h1>
    </div>
    <a href="/hotels" class="logo" style="margin-left: auto;">
        <img src="/img/Sparkle_Sticker_01.png" alt="Отели"/>
    </a>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Администратор</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#searchSortSection">Поиск и сортировка</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#addHotelSection">Добавить отель</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#hotelsListSection">Список отелей</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container py-5">
    <div class="row">
        <div class="col-lg-6" id="searchSortSection">
            <div class="card">
                <div class="card-body">
                    <h2 class="heading">Поиск и сортировка</h2>
                    <form th:action="@{/admin/hotels/search}" method="get">
                        <div class="form-group">
                            <label for="searchName">Поиск по названию</label>
                            <input type="text" name="searchName" class="form-control" id="searchName"
                                   placeholder="Введите название отеля">
                        </div>
                        <div class="form-group">
                            <label for="searchAddress">Поиск по адресу</label>
                            <input type="text" name="searchAddress" class="form-control" id="searchAddress"
                                   placeholder="Введите адрес отеля">
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Поиск</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6" id="addHotelSection">
            <div class="card">
                <div class="card-body">
                    <h2 class="heading">Добавить отель</h2>
                    <form th:action="@{/admin/hotels/addHotel}" th:object="${hotel}" method="post"
                          enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="name">Название</label>
                            <input type="text" th:field="*{name}" class="form-control" id="name"
                                   placeholder="Введите название отеля" required>
                        </div>
                        <div class="form-group">
                            <label for="address">Адрес</label>
                            <input type="text" th:field="*{address}" class="form-control" id="address"
                                   placeholder="Введите адрес отеля" required>
                        </div>
                        <div class="form-group">
                            <label for="rating">Звёзды</label>
                            <input type="number" th:field="*{stars}" class="form-control" id="rating" min="1" max="5"
                                   placeholder="Введите звёзды отеля" required>
                        </div>
                        <div class="form-group">
                            <label>Изображение отеля</label><br>
                            <input type="file" name="file" placeholder="Выберите Фото" required>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-12" id="hotelsListSection">
            <div class="card">
                <div class="card-body">
                    <h2 class="heading">Список отелей</h2>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Название</th>
                            <th scope="col">Адрес</th>
                            <th scope="col">
                                Звёзды
                                <a th:href="@{/admin/hotels/sort(sortStars='asc')}" class="btn btn-link p-0 ml-2">▲</a>
                                <a th:href="@{/admin/hotels/sort(sortStars='desc')}" class="btn btn-link p-0">▼</a>
                            </th>
                            <th scope="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="hotel, stat : ${hotels}">
                            <td th:text="${stat.count}"></td>
                            <td th:text="${hotel.name}"></td>
                            <td th:text="${hotel.address}"></td>
                            <td th:text="${hotel.stars}"></td>
                            <td>
                                <form th:action="@{/admin/hotels/delete/{id}(id=${hotel.id})}" th:method="post">
                                    <button type="submit" class="btn btn-danger mb-1">Удалить</button>
                                </form>
                                <form th:action="@{/admin/hotels/rooms/{id}(id=${hotel.id})}" method="get">
                                    <button type="submit" class="btn btn-outline-dark">Просмотреть</button>
                                </form>
                                <form th:action="@{/admin/hotels/update/{id}(id=${hotel.id})}" method="get">
                                    <button type="submit" class="btn btn-outline-secondary">Обновить</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
