<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Страница администратора</title>
  <!-- Подключаем bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body>
<!-- Добавляем две кнопки с разными ссылками -->
<a class="btn btn-primary" th:href="@{/admin/hotels/addHotel}">Список отелей</a>
<a class="btn btn-danger" th:href="@{/users}">Список пользователей</a>
</body>
</html>
