<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список комнат для отеля</title>
    <link rel="stylesheet" href="/styles/adminRooms.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="navbar">
    <a href="/admin" class="logo">
        <img src="/img/Sparkle_Sticker_02.png" alt="Админ"/>
    </a>
    <div class="text" style="text-align: center;">
        <h1 style="font-family: 'Brush Script MT', cursive;">Административная страница</h1>
    </div>
    <a href="/hotels" class="logo" style="margin-left: auto;">
        <img src="/img/Sparkle_Sticker_01.png" alt="Отели"/>
    </a>
</div>
<div class="container py-5">
    <div class="row">
        <div class="d-flex flex-column align-items-start">
            <div class="col-lg-6 mb-2">
                <h1 class="heading">Добавить комнату</h1>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Фото</th>
                        <th scope="col">Тип комнаты</th>
                        <th scope="col">Статус комнаты</th>
                        <th scope="col">Цена комнаты</th>
                        <th scope="col">Описание</th>
                        <th scope="col">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="roomAttributes, stat : ${hotelRooms}">
                        <td th:text="${stat.count}"></td>
                        <td>
                            <img th:src="@{'data:image/png;base64,'+${roomAttributes.getRoomImageFromBytes()}}"
                                 alt="roomPhoto" class="room-image card-img-top" style="width: 50px; height: 50px;">
                        </td>
                        <td th:text="${roomAttributes.roomType}"></td>
                        <td th:text="${roomAttributes.roomStatus}"></td>
                        <td th:text="${roomAttributes.roomPrice}"></td>
                        <td th:text="${roomAttributes.description}"></td>
                        <td>
                            <form th:action="@{'/admin/hotels/rooms/delete/' + ${roomAttributes.roomId}}"
                                  th:method="post">
                                <button type="submit" class="btn btn-danger mb-1">Удалить</button>
                            </form>
                            <button class="btn btn-primary" data-toggle="modal"
                                    th:attr="data-target='#updateModal' + ${roomAttributes.roomId}">Обновить
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-lg-6">
                <h2 class="heading">Список комнат для отеля</h2>
                <div class="table-container">
                    <form method="post" th:action="@{/admin/hotels/rooms/add/__${hotelId}__}" th:object="${room}"
                          enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="name">Тип комнаты</label>
                            <select th:field="*{roomType}" class="form-control" id="name" required>
                                <option th:each="type : ${T(com.example.mainfile.model.RoomType).values()}"
                                        th:value="${type}"
                                        th:text="${type}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="address">Статус комнаты</label>
                            <select th:field="*{roomStatus}" class="form-control" id="address">
                                <option th:each="status : ${T(com.example.mainfile.model.RoomStatus).values()}"
                                        th:value="${status}"
                                        th:text="${status}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="description">Описание комнаты</label>
                            <textarea th:field="*{description}" class="form-control" id="description"
                                      placeholder="Введите описание комнаты" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="rating">Цена комнаты</label>
                            <input type="number" th:field="*{roomPrice}" class="form-control" id="rating"
                                   placeholder="Введите цену комнаты" min="0" required>
                        </div>

                        <div class="form-group">
                            <input type="file" name="file" placeholder="Выберите Фото" required>
                        </div>

                        <button type="submit" class="btn btn-primary mt-3">Добавить</button>
                    </form>
                </div>
            </div>

            <div th:each="room : ${hotelRooms}" class="room-card card">
                <div class="modal fade" th:id="'updateModal' + ${room.roomId}" tabindex="-1" role="dialog"
                     aria-labelledby="updateModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateModalLabel">Обновление комнаты</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <form th:action="@{/admin/hotels/rooms/updateRoom}" method="post"
                                  enctype="multipart/form-data">
                                <div class="modal-body">
                                    <input type="hidden" name="roomId" th:value="${room.roomId}"/>
                                    <div class="form-group">
                                        <label for="updateRoomType">Тип комнаты</label>
                                        <select name="roomType" class="form-control" id="updateRoomType">
                                            <option th:each="type : ${T(com.example.mainfile.model.RoomType).values()}"
                                                    th:value="${type}"
                                                    th:text="${type}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="updateRoomStatus">Статус комнаты</label>
                                        <select name="roomStatus" class="form-control" id="updateRoomStatus">
                                            <option th:each="status : ${T(com.example.mainfile.model.RoomStatus).values()}"
                                                    th:value="${status}"
                                                    th:text="${status}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="updateDescription">Описание комнаты</label>
                                        <textarea name="description" class="form-control" id="updateDescription"
                                                  placeholder="Введите описание комнаты"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="updateRoomPrice">Цена комнаты</label>
                                        <input type="number" name="roomPrice" class="form-control" id="updateRoomPrice"
                                               placeholder="Введите цену комнаты">
                                    </div>
                                    <div class="form-group">
                                        <label for="updateRoomImage">Фото комнаты</label>
                                        <input type="file" name="file" class="form-control-file" id="updateRoomImage">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть
                                    </button>
                                    <button type="submit" class="btn btn-primary">Обновить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>