<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Обновить данные отеля</title>
  <link rel="stylesheet" href="/styles/adminHotelUpdate.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="navbar">
  <a href="/admin" class="logo">
    <img src="/img/Sparkle_Sticker_02.png" alt="Админ"/>
  </a>
  <div class="text" style="text-align: center;">
    <h1 style="font-family: 'Brush Script MT', cursive;">Административная страница</h1>
  </div>
  <a href="/hotels" class="logo" style="margin-left: auto;">
    <img src="/img/Sparkle_Sticker_01.png" alt="Отели"/>
  </a>
</div>
<div class="container py-5">
  <h2 class="my-4">Обновить данные отеля</h2>
  <form th:action="@{/admin/hotels/update/{id}(id=${hotel.id})}" th:method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="hotelName">Название отеля</label>
      <input type="text" th:field="*{hotel.name}" class="form-control" id="hotelName" placeholder="Введите название отеля">
    </div>
    <div class="form-group">
      <label for="hotelAddress">Адрес отеля</label>
      <input type="text" th:field="*{hotel.address}" class="form-control" id="hotelAddress" placeholder="Введите адрес отеля">
    </div>
    <div class="form-group">
      <label for="hotelRating">Звёзды отеля</label>
      <input type="number" th:field="*{hotel.stars}" class="form-control" id="hotelRating" placeholder="Введите рейтинг отеля">
    </div>
    <div class="form-group">
      <label>Фото отеля</label><br>
      <input type="file" name="file" placeholder="Выберите Фото">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Обновить</button>
  </form>
</div>
</body>
</html>
