<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Страница отеля</title>
    <link rel="stylesheet" href="/styles/rooms.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<div class="navbar">
    <a href="/hotels" class="logo">
        <img src="/img/Sparkle_Sticker_02.png" alt="Отели"/>
    </a>
    <div th:if="${user != null}" class="user">
        <form th:action="@{/user/profile}" th:method="get">
            <button type="submit" class="btn btn-primary">Профиль</button>
        </form>
        <form th:action="@{/admin}" th:method="get" th:if="${user.role == user.role.ADMIN}">
            <button type="submit" class="btn btn-secondary">Администрирование</button>
        </form>
        <form th:action="@{/logout}" th:method="get">
            <button type="submit" class="btn btn-primary">Выйти</button>
        </form>
    </div>
    <div th:if="${user == null}" class="user">
        <a href="/auth/login" class="btn btn-primary">Войти</a>
    </div>
</div>
<div class="container py-5">
    <div class="hotel-details">
        <img th:src="@{'data:image/png;base64,'+${hotel.getImageFromBytes()}}" alt="hotelPhoto" class="hotel-image-rooms">
        <div>
            <h1 th:text="${hotel.name}" class="display-4">Название</h1>
            <p th:text="${hotel.address}" class="lead">Адрес</p>
            <p th:text="${hotel.rating}" class="lead">Рейтинг</p>
        </div>
    </div>
    <h2 class="my-4 display-5">Список комнат</h2>
    <div class="room-container">
        <div th:each="room : ${hotelRooms}" class="room-card card">
            <img th:src="@{'data:image/png;base64,'+${room.getRoomImageFromBytes()}}" alt="roomPhoto" class="room-image card-img-top">
            <div class="card-body">
                <h5 class="card-title" th:text="${room.roomType}"></h5>
                <p class="card-text"><strong>Цена:</strong> <span th:text="${room.roomPrice}"></span></p>
                <p class="card-text"><strong>Статус:</strong> <span th:text="${room.roomStatus}"></span></p>
                <p class="card-text description" th:text="${room.description}"></p>
                <button class="btn btn-primary" data-toggle="modal" th:attr="data-target='#bookingModal' + ${room.roomId}" th:if="${room.roomStatus != room.roomStatus.BOOKED}">Забронировать</button>
            </div>
            <div class="modal fade" th:id="'bookingModal' + ${room.roomId}" tabindex="-1" role="dialog" aria-labelledby="bookingModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="bookingModalLabel">Бронирование комнаты</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <form th:action="@{/hotels/bookRoom}" method="post">
                            <div class="modal-body">
                                <input type="hidden" name="roomId" th:value="${room.roomId}" />
                                <div class="form-group">
                                    <label for="startDate">Дата начала:</label>
                                    <input type="date" id="startDate" name="startDate" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="endDate">Дата окончания:</label>
                                    <input type="date" id="endDate" name="endDate" class="form-control" required>
                                </div>
                                <div th:if="${error != null}" class="alert alert-danger" role="alert">
                                    <p th:text="${error}"></p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                <button type="submit" class="btn btn-primary">Забронировать</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="/hotels" class="btn btn-primary mt-3">Возврат к отелям</a>
</div>
<div class="footer" style="background-color: #FF88A2; color: #800000; padding: 20px; position: relative; bottom: 0; width: 100%;">
    <div class="container text-center">
        <p>© 2024 Отели</p>
        <p>Пенакония, Мир Грёз</p>
        <p>Телефон: (хх) ххх-хх-хх</p>
        <p>Email: 20_morokey_04@mail.ru</p>
        <div>
            <a href="/ToS" style="color: #800000; margin-right: 10px;">Условия использования</a>
            <a href="/Conf" style="color: #800000; margin-right: 10px;">Политика конфиденциальности</a>
            <a href="/Contacts" style="color: #800000;">Контакты</a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
