<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список отелей</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/hotelsCSS.css">
</head>
<body>
<div class="navbar">
    <a href="/hotels" class="logo">
        <img src="/img/Sparkle_Sticker_02.png" alt="Отели"/>
    </a>
    <div class="search">
        <form th:action="@{/hotels/search}" method="get" class="search-form">
            <input type="text" name="query" class="form-control" placeholder="Поиск отелей">
            <button type="submit" class="btn btn-primary">Найти</button>
        </form>
    </div>


    <div th:if="${user != null}" class="user">
        <form th:action="@{/user/profile}" th:method="get">
            <button type="submit" class="btn btn-primary">Профиль</button>
        </form>
        <form th:action="@{/admin}" th:method="get" th:if="${user.role == user.role.ADMIN}">
            <button type="submit" class="btn btn-secondary">Администрирование</button>
        </form>
        <form th:action="@{/logout}" th:method="get">
            <button type="submit" class="btn btn-primary">Выйти</button>
        </form>
    </div>
    <div th:if="${user == null}" class="user">
        <a href="/auth/login" class="btn btn-primary">Войти</a>
    </div>
</div>

<div class="filters">
    <div class="form-group">
        <label for="stars">Звёздность</label>
        <select id="stars" class="form-control" onchange="location = this.value;">
            <option th:each="star : ${#numbers.sequence(1, 5)}"
                    th:attr="value='/hotels/sortByStars?stars=' + ${star}"
                    th:text="${star == 1} ? '1 звезда' : (${star} < 5 ? ${star} + ' звезды' : ${star} + ' звезд')"
                    th:selected="${star == selectedStars}"></option>
            <option value="/hotels" th:selected="${selectedStars == null}">Любая</option>
        </select>
    </div>
</div>


<div class="container py-5">
    <h1 class="mb-5 text-center">Отели</h1>
    <div class="hotels-container">
        <div th:each="hotel : ${hotels}" class="hotel-card card">
            <img th:src="@{'data:image/png;base64,'+${hotel.getImageFromBytes() }}" alt="hotelPhoto"
                 class="hotel-image card-img-top">
            <div class="card-body">
                <h2 class="card-title" th:text="${hotel.name}"></h2>
                <p class="card-text" th:text="${hotel.address}"></p>
                <div class="stars">
                    <th:block th:each="i: ${#numbers.sequence(1, hotel.stars)}">
                        ★
                    </th:block>
                </div>
                <p class="rating" th:if="${hotel.rating != null}" th:text="${'Рейтинг: ' + hotel.rating}"></p>
                <p class="rating" th:if="${hotel.rating == null}">Нет оценок</p>
                <p class="reviews" th:text="${'Количество отзывов: ' + reviewsCount.get(hotel.id)}"></p>

            </div>
            <div class="card-footer">
                <form th:action="@{/hotels/details/{id}(id=${hotel.id})}" th:method="get">
                    <button type="submit" class="btn btn-outline-primary">
                        <i class="bi-eye-fill me-1"></i>
                        Перейти
                    </button>
                </form>
                <form th:action="@{/reviews/hotel/{id}(id=${hotel.id})}" th:method="get">
                    <button type="submit" class="btn btn-outline-secondary">
                        <i class="bi-chat-dots-fill me-1"></i>
                        Отзывы
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <p>© 2024 Отели</p>
</div>
</body>
</html>
