<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Отзывы на отели</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/reviewCSS.css">
</head>
<body>
<div class="container">
    <h1 class="text-center my-4">Отзывы на отели</h1>
    <table class="table table-striped">
        <tr>
            <th>Имя пользователя</th>
            <th>Оценка</th>
            <th>Название отеля</th>
            <th>Впечатления</th>
        </tr>
        <tr th:each="review : ${reviews}">
            <td th:text="${review.user != null ? review.user.name : 'Аноним'}"></td>
            <td th:text="${review.rating}"></td>
            <td th:text="${review.hotel.name}"></td>
            <td th:text="${review.impressions}"></td>
            <td th:if="${review.user != null and user != null and review.user.name == user.name}">
                <form th:action="@{/reviews/{reviewId}/delete(reviewId=${review.id})}" method="post">
                    <button type="submit" class="btn btn-danger btn-sm">✖</button>
                </form>
            </td>
        </tr>
    </table>

    <h2 class="text-center my-4">Добавить отзыв</h2>
    <form th:object="${newReview}" th:action="@{/reviews/hotel/{id}/add(id=${newReview.hotel.id})}" method="post" class="form-group">
        <div class="form-row">
            <div class="col">
                <label>Оценка:
                    <input type="number" th:field="*{rating}" class="form-control">
                </label>
            </div>
            <div class="col">
                <label>Отель:
                    <input type="text" th:field="*{hotel.name}" class="form-control" readonly>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label>Впечатления:
                <textarea th:field="*{impressions}" class="form-control"></textarea>
            </label>
        </div>
        <input type="submit" value="Добавить" class="btn btn-primary mt-3">
    </form>

</div>
</body>
</html>
