<!-- updateRoom.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Обновить комнату</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container py-5">
    <h1 class="heading">Обновить комнату</h1>
    <form method="post" th:action="@{/admin/hotels/rooms/update/__${room.roomId}__}" th:object="${room}">
        <div class="form-group">
            <label for="roomPrice">Цена комнаты</label>
            <input type="number" th:field="*{roomPrice}" class="form-control" id="roomPrice" placeholder="Введите цену комнаты">
        </div>
        <div class="form-group">
            <label for="roomType">Тип комнаты</label>
            <select th:field="*{roomType}" class="form-control" id="roomType">
                <option th:each="type : ${T(com.example.mainfile.model.RoomType).values()}"
                        th:value="${type}"
                        th:text="${type}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="roomStatus">Статус комнаты</label>
            <select th:field="*{roomStatus}" class="form-control" id="roomStatus">
                <option th:each="status : ${T(com.example.mainfile.model.RoomStatus).values()}"
                        th:value="${status}"
                        th:text="${status}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="description">Описание</label>
            <textarea th:field="*{description}" class="form-control" id="description"></textarea>
        </div>
        <!-- Добавьте здесь другие поля, которые вы хотите обновить -->
        <button type="submit" class="btn btn-primary mt-3">Обновить</button>
    </form>
</div>
</body>
</html>
