body {
    background: linear-gradient(to right, #FFB6C1, #FF69B4, #8A2BE2);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background: linear-gradient(to right, #FFB6C1, #FF69B4, #8A2BE2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 80px;
}

.container {
    max-width: 960px;
    padding: 20px;
}

.card {
    background-color: #FF88A2;
    border: 0 solid;
    display: block;
}

.heading {
    margin: 2rem 0;
}

.card-body {
    background-color: #FF88A2;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

.form-group label {
    color: #6c757d;
}

.btn-primary,
.btn-outline-dark,
.btn-outline-secondary,
.btn-danger {
    background-color: #FFC0CB;
    color: #800000;
    border: none;
}

.btn-primary:hover,
.btn-outline-dark:hover,
.btn-outline-secondary:hover,
.btn-danger:hover {
    background-color: #FF69B4;
    color: #800000;
}

.table {
    color: #212529;
}

.modal-title {
    color: #800000;
}

.modal-content {
    background-color: #FF88A2;
    color: #212529;
}

.modal-body,
.modal-footer {
    background-color: #FFC0CB;
}

.modal-footer button {
    background-color: #FF69B4;
    color: #800000;
}

.table-container {
    max-height: 400px;
    overflow-y: auto;
}

.room-image {
    object-fit: cover;
    border-radius: 5px;
}

.room-card {
    margin-bottom: 20px;
}

.col-lg-6 h1.heading,
.col-lg-6 .form-group label,
.col-lg-6 .btn-primary,
.col-lg-6 .btn-primary:hover {
    color: #800000;
}

.table th,
.table td {
    border: 1px solid #FFC0CB;
}

.table thead th {
    background-color: #FF69B4;
    color: #fff;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-striped tbody tr:nth-child(odd) td {
    background-color: #f5f5f5;
}

