<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список отелей</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Отели</h1>
    <form th:action="@{/hotels}" th:object="${hotel}" method="post">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Адрес</th>
                <th scope="col">Рейтинг</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="hotel : ${hotels}">
                <th scope="row" th:text="${hotel.hotelId}"></th>
                <td th:text="${hotel.name}"></td>
                <td th:text="${hotel.address}"></td>
                <td th:text="${hotel.rating}"></td>

                <td>
                    <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            <a th:href="@{/hotels/{id}(id=${hotel.hotelId})}">Просмотреть</a>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>
